<mat-grid-list cols="4" rowHeight="60px">
    <mat-grid-tile [colspan]="4">
        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ejem. Bisturi">
            <mat-icon matSuffix inline="true">search</mat-icon>
        </mat-form-field>
        <span class="example-spacer"></span>
    </mat-grid-tile>
</mat-grid-list>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="idProforma">
            <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header> Còdigo </th>
            <td style="width: 10%;" mat-cell *matCellDef="let row"> {{row.idProforma}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cliente">
            <th style="width: 30%;" mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
            <td style="width: 30%;" mat-cell *matCellDef="let row"> {{row.cliente}} </td>
        </ng-container>

        <!-- Direccion Column -->
        <ng-container matColumnDef="fecha">
            <th style="width: 30%;" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td style="width: 30%;" mat-cell *matCellDef="let row"> {{row.fecha}} </td>
        </ng-container>

        <!-- Comuna Column -->
        <ng-container matColumnDef="montoTotal">
            <th style="width: 30%;" mat-header-cell *matHeaderCellDef mat-sort-header> Monto Total </th>
            <td style="width: 30%;" mat-cell *matCellDef="let row"> {{row.montoTotal}} </td>
        </ng-container>

        <ng-container matColumnDef="loading">
            <td style="text-align: center;font-style: italic;" mat-footer-cell *matFooterCellDef colspan="8">
                Cargando, espere por favor...
            </td>
        </ng-container>

        <ng-container matColumnDef="noData">
            <td style="text-align: center;font-style: italic;" mat-footer-cell *matFooterCellDef colspan="8">
                No existe información.
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['loading']" [hidden]="(dataSource.data.length != 0) || noDataProforma">
        </tr>
        <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="!noDataProforma"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>