<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Agrega Producto</h5>
            <form>
                <div class="form-group">
                    <input type="number" name="ruc" placeholder="Ingrese Nombre" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Ingrese Descripcion" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Ingrese Precio" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Ingrese Stock" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Ingrese Imagen" class="form-control" autofocus>
                </div>
                <button class="btn btn-success btn-block" (click)="guardarCliente()">Guardar</button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card">
        <img src="../../../assets/imagenes/molde-dental.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-info btn-block">Vista previa</a>
        </div>
    </div>
</div>